@import './var.less';

.maxwidth-100.ant-form-item .ant-form-item-control {
  max-width: 100%;
}

.ant-form-item .ant-form-item-control {
  max-width: 640px;
}

.ant-form-item.btn-label {
  margin-left: 100px;
}

body {
  background: #000;
}

.chart-area {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  .chart-spin {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.7);
  }
  .chart-main {
    width: 100%;
    height: 100%;
  }
}

@dark-bg: #141414;
@dark-bg-sub: #1d1d1d;

.theme-dark {
  .chart-area .chart-spin {
    background: rgba(0,0,0,0.7);
  }
  .yzp-head,
  .yzp-section
  {
    background: @dark-bg!important;
  }
  .yzp-table-main .ant-table-striped .table-striped td,
  .tox .tox-menubar,
  .tox .tox-toolbar__primary,
  .tox .tox-statusbar,
  .tox .tox-dialog,
  .tox .tox-dialog__header,
  .tox .tox-dialog__footer,
  .tox .tox-selectfield select,
  .yzp-aside,
  .yzp-head-msg-wrap,
  .yzp-head-user-message:hover,
  .yzp-head-left-btn:hover,
  .yzp-loading .yl-main,
  .count-wrap .count-item,
  .yzp-emoji-wrap
  {
    background: @dark-bg-sub!important;
  }
  .webbg {
    display: none!important;
  }
  .tox .tox-mbtn,
  .tox .tox-tbtn,
  .tox .tox-statusbar__path-item,
  .tox .tox-statusbar a,
  .tox .tox-statusbar__wordcount,
  .tox .tox-dialog__header,
  .tox .tox-label, .tox .tox-toolbar-label,
  .tox .tox-selectfield select,
  .tox .tox-textfield,
  .tox .tox-textarea
  {
    color: #ffffff;
  }
  .tox .tox-tbtn svg {
    fill: #ffffff;
  }
  .tox .tox-edit-area__iframe,
  .tox .tox-mbtn--active,
  .tox .tox-textarea,
  .tox .tox-textarea:focus,
  .tox .tox-textfield,
  .tox .tox-textfield:focus
  {
    background: #333333;
  }
  .tox-tinymce,
  .tox .tox-statusbar,
  .tox .tox-menubar+.tox-toolbar-overlord .tox-toolbar__primary,
  .tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type),
  .yzp-head-msg-item,
  .tox .tox-selectfield select,
  .tox .tox-textfield
  {
    border-color: #333333!important;
  }
  .login-page .lp-bg,
  .login-page .lp-main:after
  {
    filter: brightness(0.2)!important;
  }
  .ant-spin {
    display: inline-block!important;
  }
  .ant-switch-checked {
    background-color: @primary-color!important;
  }
  .ant-btn-primary {
    background: @primary-color;
    border-color: @primary-color;
  }
  .count-wrap .count-item {
    border-right: 0!important;
  }
  .count-wrap .count-item .count-number {
    color: #ffffff!important;
  }
  .yzp-emoji-wrap {
    box-shadow: 0 0 10px @dark-bg!important;
    .yzp-ew-zoom {
      box-shadow: none!important;
    }
    .yzp-ew-tab span {
      background-color: #333333!important;
      &.active, &:hover {
        background-color: @primary-color!important;
        color: #ffffff;
      }
    }
  }
  
  .yzp-home-page .yzp-home-left, .yzp-home-page .yzp-home-opt {
    background: @dark-bg-sub!important;
  }
  .yzp-home-page .yzp-count-wrap .yzp-count-item {
    background: #333333!important;
    border: 0!important;
    border-radius: 6px;
  }
  .yzp-home-page .yzp-count-wrap .yzp-count-item .yzp-count-number,
  .yzp-home-page .yzp-home-opt .yzp-home-opt-name
  {
    color: #999999!important;
  }
  .yzp-home-page .yzp-home-opt .yzp-home-opt-icon {
    background: #333333!important;
  }
  .yzp-home-page .yzp-home-logs .yzp-home-log-item {
    border-color: #333333!important;
  }
}

.theme-default {
  .ant-spin {
    display: inline-block!important;
  }
  body {
    background: #f0f0f0;
  }
  .ant-btn, .ant-btn:hover {
    color: #ffffff!important;
  }
  .ant-switch-checked {
    background-color: @primary-color!important;
  }
  .ant-btn-primary {
    background: @primary-color;
    border-color: @primary-color;
  }
}
